# <span style='color:crimson'>La Poule Qui Chante _ Nettoyage de données</span>

Pour pouvoir réaliser cette étude de marché, j'ai, comme suggéré par Patrick, utilisé les critères de l'analyse PESTEL.
> L'analyse PESTEL permet d'identenfier les opportunités et les menaces qui peuvent avoir un impact sur notre entreprise. Elle fournit un point de vue global sur l'environnement de l'entreprise.

Elle utilise des indicateurs répondant à plusieurs thèmes :
- Politique
- Economie
- Social
- Technologie
- Environnement
- Légal

*Toutes mes sources sont indiquées en dessous de chaque titre.*

# Librairies

In [1]:
import pandas as pd
import numpy as np

# Disponibilité Volaille 2018

Source : fao.org/faostats/

## Importation du fichier

In [2]:
# Importation du fichier
disponibiliteVolaille_2018 = pd.read_csv('DisponibiliteVolaille_2018.csv', sep=';')
# Résultat
disponibiliteVolaille_2018.head()

,Domaine,Zone,Élément,Produit,Année,Unité,Valeur
0,Bilans Alimentaires (2010-),Afghanistan,Production,Viande de Volailles,2018,Milliers de tonnes,29.0
1,Bilans Alimentaires (2010-),Afghanistan,Importations - Quantit?,Viande de Volailles,2018,Milliers de tonnes,25.0
2,Bilans Alimentaires (2010-),Afghanistan,Variation de stock,Viande de Volailles,2018,Milliers de tonnes,0.0
3,Bilans Alimentaires (2010-),Afghanistan,Exportations - Quantit?,Viande de Volailles,2018,Milliers de tonnes,0.0
4,Bilans Alimentaires (2010-),Afghanistan,Disponibilit? int?rieure,Viande de Volailles,2018,Milliers de tonnes,53.0

In [3]:
# Forme
disponibiliteVolaille_2018.shape

(2148, 7)

In [4]:
# Information
disponibiliteVolaille_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2148 entries, 0 to 2147
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domaine  2148 non-null   object
 1   Zone     2148 non-null   object
 2   Élément  2148 non-null   object
 3   Produit  2148 non-null   object
 4   Année    2148 non-null   int64
 5   Unité    2148 non-null   object
 6   Valeur   2147 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 117.6+ KB

## Réorganisation du df

In [5]:
# Pivot_table
disponibiliteVolaille_2018 = disponibiliteVolaille_2018.pivot_table(index='Zone', columns='Élément', values='Valeur').reset_index()
# Résultat
disponibiliteVolaille_2018.head()

Élément,Zone,Alimentation pour touristes,Autres utilisations (non alimentaire),Disponibilit? alimentaire (Kcal/personne/jour),Disponibilit? alimentaire en quantit? (kg/personne/an),Disponibilit? de mati?re grasse en quantit? (g/personne/jour),Disponibilit? de prot?ines en quantit? (g/personne/jour),Disponibilit? int?rieure,Exportations - Quantit?,Importations - Quantit?,Nourriture,Pertes,Production,R?sidus,Traitement,Variation de stock
0,Afghanistan,NaN,NaN,5.0,1.44,0.31,0.51,53.0,0.0,25.0,53.0,NaN,29.0,0.0,NaN,0.0
1,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,2156.0,NaN,1762.0,0.0,NaN,72.0
2,Albanie,NaN,NaN,50.0,9.48,3.83,3.52,27.0,NaN,12.0,27.0,NaN,16.0,0.0,NaN,0.0
3,Algérie,NaN,NaN,23.0,6.76,1.59,2.08,286.0,0.0,0.0,286.0,NaN,286.0,0.0,NaN,0.0
4,Allemagne,NaN,NaN,67.0,18.15,3.92,7.43,1666.0,640.0,871.0,1509.0,0.0,1571.0,0.0,157.0,135.0

In [6]:
# Export du fichier pour modification problème d'encodage
disponibiliteVolaille_2018.to_csv('disponibilite_volaill_2018.csv')

In [7]:
# Importation suite à modification
disponibiliteVolaille_2018 = pd.read_csv('disponibilite_volaille_2018.csv', sep=';')
disponibiliteVolaille_2018.head()

,Column1,Zone,Alimentation pour touristes,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantit? (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Traitement,Variation de stock
0,0,Afghanistan,NaN,NaN,5.0,1.44,0.31,0.51,53.0,0.0,25.0,53.0,NaN,29.0,0.0,NaN,0.0
1,1,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,2156.0,NaN,1762.0,0.0,NaN,72.0
2,2,Albanie,NaN,NaN,50.0,9.48,3.83,3.52,27.0,NaN,12.0,27.0,NaN,16.0,0.0,NaN,0.0
3,3,Algérie,NaN,NaN,23.0,6.76,1.59,2.08,286.0,0.0,0.0,286.0,NaN,286.0,0.0,NaN,0.0
4,4,Allemagne,NaN,NaN,67.0,18.15,3.92,7.43,1666.0,640.0,871.0,1509.0,0.0,1571.0,0.0,157.0,135.0

In [8]:
# Suppression de la colonne 'Column1'
disponibiliteVolaille_2018.drop(columns={'Column1'}, inplace=True)

# Population

Source : FAO

## Importation du fichier

In [9]:
# Importation
population = pd.read_csv('Population_2000_2018.csv')
# Résultat
population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [10]:
# Dimension
population.shape

(4411, 15)

In [11]:
# Information
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

## Réorganisation du df

In [12]:
# Sélection des données de 2018
population_2018 = population.loc[population['Année']==2018]
# Résultat
population_2018.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
18,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,37171.921,X,Sources internationales sûres,NaN
37,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,57792.518,X,Sources internationales sûres,NaN
56,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,2882.740,X,Sources internationales sûres,NaN
75,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,42228.408,X,Sources internationales sûres,NaN
94,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,83124.418,X,Sources internationales sûres,NaN

In [13]:
# Pivot table
population_2018 = population_2018.pivot_table(index='Zone', columns='Élément', values='Valeur').reset_index()
# Résultat
population_2018.head()

Élément            Zone  Population totale
0           Afghanistan          37171.921
1        Afrique du Sud          57792.518
2               Albanie           2882.740
3               Algérie          42228.408
4             Allemagne          83124.418

# Sécurité Alimentaire

Source : fao.org/faostats/

## Importation du fichier

In [14]:
# Importation
securiteAlimentaire_2018 = pd.read_csv('securiteAlimentaire_2018.csv', sep=';')
# Résultat
securiteAlimentaire_2018.head()

,Column1,Zone,Densité du réseau ferroviaire (pour 100 km carrés de surface totale du pays),"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
0,0,Afghanistan,NaN,2033.8,-2.75
1,1,Afrique du Sud,NaN,12627.9,-0.22
2,2,Albanie,NaN,13323.8,0.38
3,3,Algérie,0.2,11642.2,-0.83
4,4,Allemagne,9.4,53463.4,0.60

In [15]:
# Dimension
securiteAlimentaire_2018.shape

(199, 5)

In [16]:
# Information
securiteAlimentaire_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 5 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Column1                                                                       199 non-null    int64
 1   Zone                                                                          199 non-null    object
 2   Densité du réseau ferroviaire (pour 100 km carrés de surface totale du pays)  69 non-null     float64
 3   PIB par habitant, ($ PPA internationaux constants de 2011)                    187 non-null    float64
 4   Stabilité politique et absence de violence/terrorisme (indice)                197 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 7.9+ KB

In [17]:
# Suppression de la colonne 'Column1'
securiteAlimentaire_2018.drop(columns={'Column1'}, inplace=True)

# Indicateurs économiques

Source : https://databank.banquemondiale.org/indicator/NY.GDP.MKTP.CD/1ff4a498/Popular-Indicators

## Importation du fichier

In [18]:
# Importation
indicateurEconomique_2018 = pd.read_csv('PopularIndicator_2018.csv')
# Résultat
indicateurEconomique_2018.head()

,série Name,série Code,pays Name,pays Code,2018 [YR2018]
0,"Inflation, prix à la consommation (% annuel)",FP.CPI.TOTL.ZG,Afghanistan,AFG,0.626149149168811
1,"Inflation, prix à la consommation (% annuel)",FP.CPI.TOTL.ZG,Albanie,ALB,2.02805963071136
2,"Inflation, prix à la consommation (% annuel)",FP.CPI.TOTL.ZG,Algérie,DZA,4.26999020467078
3,"Inflation, prix à la consommation (% annuel)",FP.CPI.TOTL.ZG,Samoa américaines,ASM,..
4,"Inflation, prix à la consommation (% annuel)",FP.CPI.TOTL.ZG,Andorre,AND,..

In [19]:
# Dimension
indicateurEconomique_2018.shape

(1524, 5)

In [20]:
# Information
indicateurEconomique_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1524 entries, 0 to 1523
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   série Name     1521 non-null   object
 1   série Code     1519 non-null   object
 2   pays Name      1519 non-null   object
 3   pays Code      1519 non-null   object
 4   2018 [YR2018]  1519 non-null   object
dtypes: object(5)
memory usage: 59.7+ KB

## Réorganisation du df

In [21]:
# Conversion du type objet de la colonne '2018 [YR2018]' en int
indicateurEconomique_2018['2018 [YR2018]'] = pd.to_numeric(indicateurEconomique_2018['2018 [YR2018]'], errors='coerce', downcast='integer')

In [22]:
# pivot table
indicateurEconomique_2018 = indicateurEconomique_2018.pivot_table(index='pays Name', columns='série Name', values='2018 [YR2018]').reset_index()
# Résultat
indicateurEconomique_2018.head()

série Name,pays Name,Chômage (% de la population active) (estimation nationale),Densité de la population (personnes par kilomètre carré de superficie des terres),"Inflation, prix à la consommation (% annuel)",Trafic de conteneurs dans les ports (TEU : unités équivalents 20 pieds),"Transport aérien, fret (millions de tonnes-kilomètres)","Transport ferroviaire, biens transportés (millions de tonnes-kilomètres)"
0,Afghanistan,NaN,56.937049,0.626149,NaN,29.559349,NaN
1,Afrique du Sud,26.91,47.640752,4.504577,4892400.0,696.730006,NaN
2,Albanie,12.30,104.612263,2.028060,13648.0,0.000000,20.4
3,Algérie,NaN,17.730062,4.269990,1032000.0,28.280480,1026.0
4,Allemagne,3.38,237.294012,1.732168,19706500.0,7969.863640,129991.0

# Distance entre la France et les autres pays

Source : Mayer, T. & Zignago, S. (2011)
Notes on CEPII’s distances measures : the GeoDist Database
CEPII Working Paper 2011-25

## Importation du fichier 'dist'

In [23]:
# Importation
distance = pd.read_excel('dist_cepii.xls')
# Résultat
distance.head()

,iso_o,iso_d,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
0,ABW,ABW,0,0,0,0,0,0,0,0,5.225315,5.225315,25.09354,23.04723
1,ABW,AFG,0,0,0,0,0,0,0,0,13257.810000,13257.810000,13168.22,13166.37
2,ABW,AGO,0,0,0,0,0,0,0,0,9516.913000,9516.913000,9587.316,9584.193
3,ABW,AIA,0,0,1,0,0,0,0,0,983.268200,983.268200,976.8974,976.8916
4,ABW,ALB,0,0,0,0,0,0,0,0,9091.742000,9091.742000,9091.576,9091.466

In [24]:
# Dimension
distance.shape

(50176, 14)

In [25]:
# Information
distance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50176 entries, 0 to 50175
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   iso_o          50176 non-null  object
 1   iso_d          50176 non-null  object
 2   contig         50176 non-null  int64
 3   comlang_off    50176 non-null  int64
 4   comlang_ethno  50176 non-null  int64
 5   colony         50176 non-null  int64
 6   comcol         50176 non-null  int64
 7   curcol         50176 non-null  int64
 8   col45          50176 non-null  int64
 9   smctry         50176 non-null  int64
 10  dist           50176 non-null  float64
 11  distcap        50176 non-null  float64
 12  distw          50176 non-null  object
 13  distwces       50176 non-null  object
dtypes: float64(2), int64(8), object(4)
memory usage: 5.4+ MB

## Réorganisation du df

In [26]:
# Suppression des colonnes inutiles
distance.drop(columns={'contig','comlang_off','comlang_ethno','colony','comcol','curcol','col45','smctry','distw','distwces'}, inplace=True)
# Résultat
distance.head()

  iso_o iso_d          dist       distcap
0   ABW   ABW      5.225315      5.225315
1   ABW   AFG  13257.810000  13257.810000
2   ABW   AGO   9516.913000   9516.913000
3   ABW   AIA    983.268200    983.268200
4   ABW   ALB   9091.742000   9091.742000

In [27]:
# Sélection des données qui concernent la France
distance = distance.loc[distance['iso_o']=='FRA']
# Résultat
distance.head()

      iso_o iso_d      dist   distcap
15008   FRA   ABW  7685.884  7685.884
15009   FRA   AFG  5590.381  5590.381
15010   FRA   AGO  6510.322  6510.322
15011   FRA   AIA  6710.570  6710.570
15012   FRA   ALB  1603.534  1603.534

## Importation du fichier 'geo'

In [28]:
# Importation
geo = pd.read_excel('geo_cepii.xls')
# Résultat
geo.head()

,iso2,iso3,cnum,country,pays,area,dis_int,landlocked,continent,city_en,...,lang9_2,lang9_3,lang9_4,colonizer1,colonizer2,colonizer3,colonizer4,short_colonizer1,short_colonizer2,short_colonizer3
0,AW,ABW,533,Aruba,Aruba,193,5.225315,0,America,Oranjestad,...,.,.,.,NLD,.,.,.,.,.,.
1,AF,AFG,4,Afghanistan,Afghanistan,652225,303.761400,1,Asia,Kabul,...,Uzbek,.,.,.,.,.,.,GBR,.,.
2,AO,AGO,24,Angola,Angola,1246700,419.966600,0,Africa,Luanda,...,.,.,.,PRT,.,.,.,.,.,.
3,AI,AIA,660,Anguilla,Anguilla,102,3.798690,0,America,The Valley,...,.,.,.,GBR,.,.,.,.,.,.
4,AL,ALB,8,Albania,Albanie,28748,63.773110,0,Europe,Tirana,...,.,.,.,TUR,.,.,.,.,.,.

In [29]:
# Dimension
geo.shape

(238, 34)

In [30]:
# Information
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   iso2              237 non-null    object
 1   iso3              238 non-null    object
 2   cnum              238 non-null    int64
 3   country           238 non-null    object
 4   pays              238 non-null    object
 5   area              238 non-null    int64
 6   dis_int           238 non-null    float64
 7   landlocked        238 non-null    int64
 8   continent         238 non-null    object
 9   city_en           238 non-null    object
 10  city_fr           238 non-null    object
 11  lat               238 non-null    float64
 12  lon               238 non-null    float64
 13  cap               238 non-null    int64
 14  maincity          238 non-null    int64
 15  citynum           238 non-null    object
 16  langoff_1         238 non-null    object
 17  langoff_2         238 non-null    object
 18  langoff_3         238 non-null    object
 19  lang20_1          238 non-null    object
 20  lang20_2          238 non-null    object
 21  lang20_3          238 non-null    object
 22  lang20_4          238 non-null    object
 23  lang9_1           238 non-null    object
 24  lang9_2           238 non-null    object
 25  lang9_3           238 non-null    object
 26  lang9_4           238 non-null    object
 27  colonizer1        238 non-null    object
 28  colonizer2        238 non-null    object
 29  colonizer3        238 non-null    object
 30  colonizer4        238 non-null    object
 31  short_colonizer1  238 non-null    object
 32  short_colonizer2  238 non-null    object
 33  short_colonizer3  238 non-null    object
dtypes: float64(3), int64(5), object(26)
memory usage: 63.3+ KB

## Réorganisation du df

In [31]:
# pivot table
geo = geo[['iso3','area','continent','pays']]
# Résultat
geo.head()

  iso3     area continent         pays
0  ABW      193   America        Aruba
1  AFG   652225      Asia  Afghanistan
2  AGO  1246700    Africa       Angola
3  AIA      102   America     Anguilla
4  ALB    28748    Europe      Albanie

## Jointure des deux df

In [32]:
# jointure via la colonne 'iso3' et 'iso_d'
distanceFrance_monde = pd.merge(distance, geo, left_on='iso_d', right_on='iso3')
# Résultat
distanceFrance_monde.head()

  iso_o iso_d      dist   distcap iso3     area continent         pays
0   FRA   ABW  7685.884  7685.884  ABW      193   America        Aruba
1   FRA   AFG  5590.381  5590.381  AFG   652225      Asia  Afghanistan
2   FRA   AGO  6510.322  6510.322  AGO  1246700    Africa       Angola
3   FRA   AIA  6710.570  6710.570  AIA      102   America     Anguilla
4   FRA   ALB  1603.534  1603.534  ALB    28748    Europe      Albanie

# Coût procédure exportation

Source : https://donnees.banquemondiale.org/indicator/IC.EXP.CSDC.CD?end=2019&start=2014&view=chart

## Importation du fichier

In [33]:
# Importation du fichier
coutExportation = pd.read_csv('cout_procedure_exportation.csv', sep=';')
# Résultat
coutExportation.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Coût des procédures d’exportation, formalités ...",IC.EXP.CSDC.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AFE,"Coût des procédures d’exportation, formalités ...",IC.EXP.CSDC.CD,194.187500,200.420000,200.420000,200.420000,200.420000,200.420000,NaN
2,Afghanistan,AFG,"Coût des procédures d’exportation, formalités ...",IC.EXP.CSDC.CD,344.400000,344.400000,344.400000,344.400000,344.400000,344.400000,NaN
3,NaN,AFW,"Coût des procédures d’exportation, formalités ...",IC.EXP.CSDC.CD,132.886364,132.886364,132.886364,132.886364,132.886364,140.840909,NaN
4,Angola,AGO,"Coût des procédures d’exportation, formalités ...",IC.EXP.CSDC.CD,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,NaN

In [34]:
# Dimension
coutExportation.shape

(266, 11)

In [35]:
# Information
coutExportation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   2014            234 non-null    float64
 5   2015            235 non-null    float64
 6   2016            235 non-null    float64
 7   2017            235 non-null    float64
 8   2018            236 non-null    float64
 9   2019            235 non-null    float64
 10  2020            0 non-null      float64
dtypes: float64(7), object(4)
memory usage: 23.0+ KB

## Réorganisation du df

In [36]:
# Pivot table 
coutExportation_2018 = coutExportation.pivot_table(index='Country Name', columns='Indicator Name', values='2018').reset_index()
# Résultat
coutExportation_2018.head()

Indicator Name,Country Name,"Coût des procédures d’exportation, formalités documentaires (USD)"
0,Afghanistan,344.400000
1,Afrique du Nord et Moyen-Orient,233.900000
2,Afrique du Nord et Moyen-Orient (BIRD et IDA),333.763636
3,Afrique du Nord et Moyen-Orient (hors revenu é...,312.616667
4,Afrique du Sud,55.000000

# Création du df final

## Jointure de disponibiliteVolaille_2018 et population_2018

In [37]:
# jointure via 'Zone'
df_export_2018 = pd.merge(disponibiliteVolaille_2018, population_2018, on='Zone')
# Résultat
df_export_2018.head()

,Zone,Alimentation pour touristes,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantit? (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Traitement,Variation de stock,Population totale
0,Afghanistan,NaN,NaN,5.0,1.44,0.31,0.51,53.0,0.0,25.0,53.0,NaN,29.0,0.0,NaN,0.0,37171.921
1,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,2156.0,NaN,1762.0,0.0,NaN,72.0,57792.518
2,Albanie,NaN,NaN,50.0,9.48,3.83,3.52,27.0,NaN,12.0,27.0,NaN,16.0,0.0,NaN,0.0,2882.740
3,Algérie,NaN,NaN,23.0,6.76,1.59,2.08,286.0,0.0,0.0,286.0,NaN,286.0,0.0,NaN,0.0,42228.408
4,Allemagne,NaN,NaN,67.0,18.15,3.92,7.43,1666.0,640.0,871.0,1509.0,0.0,1571.0,0.0,157.0,135.0,83124.418

In [38]:
# Dimension
df_export_2018.shape

(169, 17)

## Jointure de df_export_2018 avec securiteAlimentaire_2018

In [39]:
# Jointure via 'Zone'
df_export_2018 = pd.merge(df_export_2018, securiteAlimentaire_2018, on='Zone')
# Résultat
df_export_2018.head()

,Zone,Alimentation pour touristes,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantit? (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Traitement,Variation de stock,Population totale,Densité du réseau ferroviaire (pour 100 km carrés de surface totale du pays),"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice)
0,Afghanistan,NaN,NaN,5.0,1.44,0.31,0.51,53.0,0.0,25.0,53.0,NaN,29.0,0.0,NaN,0.0,37171.921,NaN,2033.8,-2.75
1,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,2156.0,NaN,1762.0,0.0,NaN,72.0,57792.518,NaN,12627.9,-0.22
2,Albanie,NaN,NaN,50.0,9.48,3.83,3.52,27.0,NaN,12.0,27.0,NaN,16.0,0.0,NaN,0.0,2882.740,NaN,13323.8,0.38
3,Algérie,NaN,NaN,23.0,6.76,1.59,2.08,286.0,0.0,0.0,286.0,NaN,286.0,0.0,NaN,0.0,42228.408,0.2,11642.2,-0.83
4,Allemagne,NaN,NaN,67.0,18.15,3.92,7.43,1666.0,640.0,871.0,1509.0,0.0,1571.0,0.0,157.0,135.0,83124.418,9.4,53463.4,0.60

In [40]:
# Dimension
df_export_2018.shape

(167, 20)

## Jointure de df_export_2018 et indicateurEconomique_2018

In [41]:
# Jointure via 'Zone' et 'pays Name'
df_export_2018 = pd.merge(df_export_2018, indicateurEconomique_2018, left_on='Zone', right_on='pays Name', how='left')
# Résultat
df_export_2018.head()

,Zone,Alimentation pour touristes,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantit? (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,...,Densité du réseau ferroviaire (pour 100 km carrés de surface totale du pays),"PIB par habitant, ($ PPA internationaux constants de 2011)",Stabilité politique et absence de violence/terrorisme (indice),pays Name,Chômage (% de la population active) (estimation nationale),Densité de la population (personnes par kilomètre carré de superficie des terres),"Inflation, prix à la consommation (% annuel)",Trafic de conteneurs dans les ports (TEU : unités équivalents 20 pieds),"Transport aérien, fret (millions de tonnes-kilomètres)","Transport ferroviaire, biens transportés (millions de tonnes-kilomètres)"
0,Afghanistan,NaN,NaN,5.0,1.44,0.31,0.51,53.0,0.0,25.0,...,NaN,2033.8,-2.75,Afghanistan,NaN,56.937049,0.626149,NaN,29.559349,NaN
1,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,...,NaN,12627.9,-0.22,Afrique du Sud,26.91,47.640752,4.504577,4892400.0,696.730006,NaN
2,Albanie,NaN,NaN,50.0,9.48,3.83,3.52,27.0,NaN,12.0,...,NaN,13323.8,0.38,Albanie,12.30,104.612263,2.028060,13648.0,0.000000,20.4
3,Algérie,NaN,NaN,23.0,6.76,1.59,2.08,286.0,0.0,0.0,...,0.2,11642.2,-0.83,Algérie,NaN,17.730062,4.269990,1032000.0,28.280480,1026.0
4,Allemagne,NaN,NaN,67.0,18.15,3.92,7.43,1666.0,640.0,871.0,...,9.4,53463.4,0.60,Allemagne,3.38,237.294012,1.732168,19706500.0,7969.863640,129991.0

In [42]:
# Suppression de la colonne 'pays Name'
df_export_2018.drop(columns={'pays Name'}, inplace=True)
# Dimension
df_export_2018.shape

(167, 26)

## Jointure de df_export_2018 et distanceFrance_monde

In [43]:
# jointure via 'Zone' et 'pays'
df_export_2018 = pd.merge(df_export_2018, distanceFrance_monde, left_on='Zone', right_on='pays', how='left')
# Résultat
df_export_2018.head()

,Zone,Alimentation pour touristes,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantit? (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,...,"Transport aérien, fret (millions de tonnes-kilomètres)","Transport ferroviaire, biens transportés (millions de tonnes-kilomètres)",iso_o,iso_d,dist,distcap,iso3,area,continent,pays
0,Afghanistan,NaN,NaN,5.0,1.44,0.31,0.51,53.0,0.0,25.0,...,29.559349,NaN,FRA,AFG,5590.381,5590.381,AFG,652225.0,Asia,Afghanistan
1,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,...,696.730006,NaN,FRA,ZAF,9353.552,8692.812,ZAF,1219912.0,Africa,Afrique du Sud
2,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,...,696.730006,NaN,FRA,ZAF,9353.552,8692.812,ZAF,1219912.0,Africa,Afrique du Sud
3,Albanie,NaN,NaN,50.0,9.48,3.83,3.52,27.0,NaN,12.0,...,0.000000,20.4,FRA,ALB,1603.534,1603.534,ALB,28748.0,Europe,Albanie
4,Algérie,NaN,NaN,23.0,6.76,1.59,2.08,286.0,0.0,0.0,...,28.280480,1026.0,FRA,DZA,1340.390,1340.390,DZA,2381741.0,Africa,Algérie

In [44]:
# Suppression de la colonne 'pays'
df_export_2018.drop(columns={'pays'}, inplace=True)
# Dimension
df_export_2018.shape

(175, 33)

## Jointure de df_export_2018 et coutExportation_2018

In [45]:
# Jointure via 'Zone' et 'Country Name'
df_export_2018 = pd.merge(df_export_2018, coutExportation_2018, left_on='Zone', right_on='Country Name', how='left')
# Résultat
df_export_2018.head()

,Zone,Alimentation pour touristes,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantit? (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,...,"Transport ferroviaire, biens transportés (millions de tonnes-kilomètres)",iso_o,iso_d,dist,distcap,iso3,area,continent,Country Name,"Coût des procédures d’exportation, formalités documentaires (USD)"
0,Afghanistan,NaN,NaN,5.0,1.44,0.31,0.51,53.0,0.0,25.0,...,NaN,FRA,AFG,5590.381,5590.381,AFG,652225.0,Asia,Afghanistan,344.4
1,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,...,NaN,FRA,ZAF,9353.552,8692.812,ZAF,1219912.0,Africa,Afrique du Sud,55.0
2,Afrique du Sud,NaN,NaN,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,...,NaN,FRA,ZAF,9353.552,8692.812,ZAF,1219912.0,Africa,Afrique du Sud,55.0
3,Albanie,NaN,NaN,50.0,9.48,3.83,3.52,27.0,NaN,12.0,...,20.4,FRA,ALB,1603.534,1603.534,ALB,28748.0,Europe,Albanie,10.0
4,Algérie,NaN,NaN,23.0,6.76,1.59,2.08,286.0,0.0,0.0,...,1026.0,FRA,DZA,1340.390,1340.390,DZA,2381741.0,Africa,Algérie,374.4

In [46]:
# Suppression de la colonne 'Country Name'
df_export_2018.drop(columns={'Country Name'}, inplace=True)
# Dimension
df_export_2018.shape

(175, 34)

# Nettoyage de df_export_2018

## Index

In [47]:
# Mise en index de la colonne 'Zone'
df_export_2018 = df_export_2018.set_index('Zone')

## Valeurs manquantes

In [48]:
# Taux de valeurs manquantes
df_export_2018.isna().mean()

Alimentation pour touristes                                                          0.805714
Autres utilisations (non alimentaire)                                                0.828571
Disponibilité alimentaire (Kcal/personne/jour)                                       0.000000
Disponibilité alimentaire en quantit? (kg/personne/an)                               0.000000
Disponibilité de matière grasse en quantité (g/personne/jour)                        0.000000
Disponibilité de protéines en quantité (g/personne/jour)                             0.000000
Disponibilité intérieure                                                             0.000000
Exportations - Quantité                                                              0.205714
Importations - Quantité                                                              0.000000
Nourriture                                                                           0.000000
Pertes                                                                               0.388571
Production                                                                           0.011429
Résidus                                                                              0.000000
Traitement                                                                           0.794286
Variation de stock                                                                   0.000000
Population totale                                                                    0.000000
Densité du réseau ferroviaire (pour 100 km carrés de surface totale du pays)         0.617143
PIB par habitant, ($ PPA internationaux constants de 2011)                           0.040000
Stabilité politique et absence de violence/terrorisme (indice)                       0.005714
Chômage (% de la population active) (estimation nationale)                           0.417143
Densité de la population (personnes par kilomètre carré de superficie des terres)    0.102857
Inflation, prix à la consommation (% annuel)                                         0.160000
Trafic de conteneurs dans les ports (TEU : unités équivalents 20 pieds)              0.274286
Transport aérien, fret (millions de tonnes-kilomètres)                               0.268571
Transport ferroviaire, biens transportés (millions de tonnes-kilomètres)             0.697143
iso_o                                                                                0.171429
iso_d                                                                                0.171429
dist                                                                                 0.171429
distcap                                                                              0.171429
iso3                                                                                 0.171429
area                                                                                 0.171429
continent                                                                            0.171429
Coût des procédures d’exportation, formalités documentaires (USD)                    0.114286
dtype: float64

In [49]:
# suppression des colonnes avec plus de 30% de valeurs manquantes
df_export_2018.drop(columns={'Alimentation pour touristes','Autres utilisations (non alimentaire)','Pertes','Traitement','Densité du réseau ferroviaire (pour 100 km carrés de surface totale du pays)','Transport ferroviaire, biens transportés (millions de tonnes-kilomètres)','Chômage (%\xa0de la population active) (estimation nationale)'}, inplace=True)

## Doublons

In [50]:
# Comptage des doublons
df_export_2018.duplicated().sum()

8

In [51]:
# Visualisation des doublons
df_export_2018[df_export_2018.duplicated()]

,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantit? (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,Résidus,...,Trafic de conteneurs dans les ports (TEU : unités équivalents 20 pieds),"Transport aérien, fret (millions de tonnes-kilomètres)",iso_o,iso_d,dist,distcap,iso3,area,continent,"Coût des procédures d’exportation, formalités documentaires (USD)"
Zone,,,,,,,,,,,,,,,,,,,,,
Afrique du Sud,150.0,37.31,9.67,14.75,2156.0,48.0,515.0,2156.0,1762.0,0.0,...,4892400.0,696.730006,FRA,ZAF,9353.5520,8692.812,ZAF,1219912.0,Africa,55.0
Allemagne,67.0,18.15,3.92,7.43,1666.0,640.0,871.0,1509.0,1571.0,0.0,...,19706500.0,7969.863640,FRA,DEU,439.8984,880.187,DEU,357325.0,Europe,45.0
Australie,197.0,48.66,13.81,16.91,1211.0,39.0,16.0,1211.0,1235.0,0.0,...,8569337.0,2027.637110,FRA,AUS,16975.4600,16938.090,AUS,7686848.0,Pacific,264.0
Brésil,204.0,47.79,15.30,15.60,10012.0,4012.0,3.0,10010.0,14095.0,0.0,...,10340130.0,1845.647760,FRA,BRA,9408.4060,8732.790,BRA,8511920.0,America,226.4
Bénin,26.0,9.95,1.24,3.54,114.0,18.0,117.0,114.0,15.0,0.0,...,321750.0,NaN,FRA,BEN,4726.5370,4715.566,BEN,112622.0,Africa,80.0
Canada,160.0,40.48,10.95,14.36,1498.0,146.0,177.0,1501.0,1474.0,-3.0,...,6770381.0,2482.000000,FRA,CAN,6004.6450,5653.213,CAN,9976139.0,America,155.6
Nigéria,3.0,1.42,0.14,0.44,278.0,0.0,18.0,278.0,260.0,0.0,...,1560000.0,19.792972,FRA,NGA,4722.1490,4440.135,NGA,923768.0,Africa,250.0
Turquie,72.0,20.84,4.62,7.04,1716.0,489.0,6.0,1716.0,2229.0,0.0,...,10887700.0,5949.212206,FRA,TUR,2255.8100,2600.656,TUR,780576.0,Europe,55.0

In [52]:
# Suppression des doublons
df_export_2018.drop_duplicates(inplace=True)

In [53]:
# Dimension
df_export_2018.shape

(167, 26)

## Export du fichier pour analyse

In [54]:
# Export au format csv
df_export_2018.to_csv('df_export_2018.csv')